
#splitPane {
 -fx-background-color:rgb(204,229,255);
 -fx-background-radius: 20,20,20,20,20;
 -fx-font-family: "Helvetica";
 -fx-font-size: 20px;
 -fx-font-weight: bold;
}

.split-pane *.split-pane-divider {
 -fx-padding: 0 0 0 0;
}

#end{
 -fx-background-color: red;
	
}
.root {
  -fx-text-fill: green ;
}